.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;

  h1 {
    font-family: sans-serif;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #737373;
    margin-bottom: 40px;
  }

  .wrapper {
    position: relative;
  }

  .board {
    display: flex;
    flex-wrap: wrap;

    .wall {
      background-color: black;
    }

    .path {
      background-color: white;
    }
  }

  .hero {
    position: absolute;
    color: deeppink;
    animation-name: animateHero;
    animation-duration: 2.2s;
  }

  @keyframes animateHero {
    0% {
      opacity: 1;
      font-size: 200px;
      left: calc(50% - 80px);
    }
    100% {
      opacity: 0;
      font-size: 200px;
      left: calc(50% - 80px);
    }
  }

  .result {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 50%;

    h2 {
      font-family: sans-serif;
      text-transform: uppercase;
      color: deeppink;
    }
  }
}