@mixin flex-props {
  display: flex;
  justify-content: center;
  align-items: center;
}

.app {
  @include flex-props;
  flex-direction: column;
  width: 100vw;
  height: 100vh;

  h1 {
    font-family: sans-serif;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #737373;
    margin-bottom: 40px;
  }

  .wrapper {
    position: relative;
  }

  .arrows {
    display: none;
    grid-template-columns: 35px 35px 35px;
    grid-template-rows: 35px 35px 35px;
    margin-top: 2rem;
    animation-name: animateArrows;
    animation-duration: 2.2s;

    .up {
      grid-area: 1 / 2 / 2 / 3;
      @include flex-props;
    }

    .left {
      grid-area: 2 / 1 / 3 / 2;
      @include flex-props;
    }

    .down {
      grid-area: 3 / 2 / 4 / 3;
      @include flex-props;
    }

    .right {
      grid-area: 2 / 3 / 3 / 4;
      @include flex-props;
    }

    i {
      font-size: 30px;
      color: #737373;
    }
  }

  @keyframes animateArrows {
    0% {
      opacity: 0;
    }
    90% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  .board {
    display: flex;
    flex-wrap: wrap;

    .wall {
      background-color: black;
    }

    .path {
      background-color: white;
    }
  }

  .hero {
    position: absolute;
    color: deeppink;
    animation-name: animateHero;
    animation-duration: 2.2s;
  }

  @keyframes animateHero {
    0% {
      opacity: 1;
      font-size: 200px;
      left: calc(50% - 80px);
    }
    100% {
      opacity: 0;
      font-size: 200px;
      left: calc(50% - 80px);
    }
  }

  .result {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 50%;

    h2 {
      font-family: sans-serif;
      text-transform: uppercase;
      color: deeppink;
    }
  }
}

